<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Jersey+25&display=swap');

	html,
	body {
		margin: 0;
		height: 100%;
		background-color: var(--bg-base);

		font-family: system-ui;

		--accent: #4C759D;
		--bg-base: white;
	}
</style>
