.editor {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.codeMirror {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 20px 10px 20px 20px;
    border: 3px solid var(--accent);
    position: relative;
}

.output {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 20px 20px 20px 10px;
    overflow: hidden;
}

.parent {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.matrix {
    image-rendering: pixelated;
    background-color: black;
    padding: 5px;
    border: 3px solid var(--accent);
    margin-bottom: 20px;
}

.console, .files {
    border: 3px solid var(--accent);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.consoleHeader, .filesHeader {
    background-color: var(--accent);
    color: white;
    padding: 5px 10px 10px 10px;
    font-size: 1.2em;
}

.console {
    flex: 1
}

.files {
    margin-top: 20px;
    height: 200px;
}

.filesContent {
    overflow-y: scroll;
}

.filesHeader {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.fileInput {
    color: white;
    border: 2px solid white;
    padding: 5px;
    cursor: pointer;
    background-color: #FFFFFF00;
}

.fileEntry {
    display: flex;
    padding: 7px;
    justify-content: space-between;
    align-items: center;
}

.fileButton {
    width: 30px;
    height: 30px;
    background-color: var(--accent);
    color: white;
    border: none;
    margin: 5px;
    flex-shrink: 0;
}

.consoleOutput {
    font-family: monospace;
    overflow: scroll;
    flex: 1;
    padding: 10px
}


.button {
    flex: 1;
}

.runButton {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--accent);
    z-index: 1;
    padding: 10px 10px 13px 13px;
    cursor: pointer;
    color: white;
}