.editor {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.codeMirror {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 20px 10px 20px 20px;
    border: 3px solid var(--accent);
    position: relative;
}

.output {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 20px 20px 20px 10px
}

.parent {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.matrix {
    image-rendering: pixelated;
    background-color: black;
    padding: 5px;
    border: 3px solid var(--accent);
    margin-bottom: 20px;
}

.console {
    flex: 1;
    border: 3px solid var(--accent);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.consoleHeader {
    background-color: var(--accent);
    color: white;
    padding: 5px 10px 10px 10px;
    font-size: 1.2em;
}

.consoleOutput {
    font-family: monospace;
    overflow-y: scroll;
    flex: 1;
    padding: 10px
}

.button {
    flex: 1;
}

.runButton {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--accent);
    z-index: 1;
    padding: 10px 10px 13px 13px;
    cursor: pointer;
    color: white;
}