.titleContainerContainer {
    width: 100%;
    overflow-x: visible;
    overflow-y: visible;
}

.titleContainer {
    width: 600px;
    height: 300px;
    position: absolute;
    top: 100px;
    left: calc(50% - 300px);
    rotate: -10deg;
    overflow-y: visible;
    overflow-x: visible;
}

.titleMatrix {
    background-color: rgba(44, 44, 44, 1);
    color: white;
    width: 100%;
    height: 100%;
    z-index: 100;
    position: absolute;
    box-shadow: rgba(32, 32, 32, 1) -10px 10px 0;
}

.titleMatrix > h1 {
    font-family: "Jersey 25", serif;
    font-size:15em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.wiresLeft {
    position: absolute;
    left: -400px;
    bottom: 250px;
    scale: 2.3;

}

.wiresRight {
    position: absolute;
    right: -300px;
    bottom: 200px;
    scale: 2.3;
}

.wiresSwitch {
    position: absolute;
    right: -250px;
    top: 20px;
    rotate: -10deg;
}

main {
    background:
    radial-gradient(circle at left center,
        rgba(220, 123, 123, 0.3),
        rgba(225, 124, 124, 0.15) 20%,
        rgba(0, 0, 0, 0) 40%),
    radial-gradient(circle at right 10%,
            rgba(0, 21, 255, 0.5),
            rgba(124, 132, 225, 0.2) 20%,
            rgba(0, 0, 0, 0) 40%),
    rgba(23, 23, 23, 1);
    width: 100%;
    min-height: 100%;

}

body {
    overflow-x: hidden;
}

.body hr {
    border-color: #8a8c9a;
    width: 75%
}

.titleSwitch {
    position: absolute;
    bottom: -300px;
    right: -350px;
}

.flag {
    position: absolute;
    left: -170px;
    scale: 0.4;
    top: -80px
}

.galleryText {
    font-family: "Jersey 25", serif;
    font-size: 5em;

    position: absolute;
    right: 10px;
    bottom: -100px;


    background-color: rgba(44, 44, 44, 1);
    padding: 10px;

    width: 370px;
    text-align: center;

}

.shadow {
    box-shadow: rgba(32, 32, 32, 1) -10px 10px 0;
    height: 100px;
    z-index: -1;
}

.bodyContainer {
    color: white;
    padding-top: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.body {
    padding-bottom: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.bodyTextContainer {
    max-width: 800px;
}

h1 {
    text-align: center;
    font-size: 2.2em;
}

.polaroids {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 800px;
}

.polaroidsLabel {
    position: absolute;
    left: 10%;
    top: 200px;
    font-family: "Indie Flower", serif;
    font-size: 3em;
    rotate: -10deg;
}

.instructions {
    display: flex;
    width: 100%;
    position: relative;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 0 50px;
    filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
    rotate: 2deg;
    font-family: "Jersey 25", serif;
    height: fit-content;
}

.step1 {
    /*
    transform: translateY(150px);
    */
}

.step2 {

}

.step > img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 2%;
    margin: 20px 0;
}

.step > .label {
    font-size: 2em
}

.arrow {
    margin-top: 100px;

    transform: scaleY(-1);

    rotate: 0deg
}

.prelabel {
    text-align: left;
    width: 100%;
    font-size: 1.6em;
}

.signup {
    width: 300px;
    height: 200px;
    background-color: green;
}

.faq {
    display: flex;
    position: relative;
    margin-top: 170px;
    flex-wrap: wrap;
    width: 70%;
    margin-left: 20%;
    justify-content: space-evenly;
}

.faq > * {
    margin: -20px -20px;
}

.getStarted {
    height: 100px;
}

.footer {
    height: 100px
}