.editor {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.codeMirror {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.output {
    height: 100%;
    flex: 1;
}

.parent {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.matrix {
    width: 100%;
    image-rendering: pixelated;
}